In [54]:
import os
import os.path as osp
import sys

import pandas as pd

In [2]:
ett_h1 = pd.read_csv('../dataset/ETT-small/ETTh1.csv')

In [3]:
ett_h2 = pd.read_csv('../dataset/ETT-small/ETTh2.csv')

In [53]:
ett_h1.head(3)

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001

In [24]:
os.getcwd()

'/home/gl/Code/papers/FEDformer/notebooks'

In [25]:
sys.path.append('/home/gl/Code/papers/FEDformer/')

In [26]:
from data_provider.data_factory import Dataset_ETT_hour

In [41]:
ds = Dataset_ETT_hour('/home/gl/Code/papers/FEDformer/dataset/ETT-small/', features='M', scale=False, freq='h')

/home/gl/Code/papers/FEDformer/data_provider/data_loader.py:103: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data_stamp = df_stamp.drop(["date"], 1).values

In [52]:
ett_h1.iloc[0]

date    2016-07-01 00:00:00
HUFL                  5.827
HULL                  2.009
MUFL                  1.599
MULL                  0.462
LUFL                  4.203
LULL                   1.34
OT                   30.531
Name: 0, dtype: object

In [47]:
ds.data_stamp
# month, day, weekday, hour

array([[ 7,  1,  4,  0],
       [ 7,  1,  4,  1],
       [ 7,  1,  4,  2],
       ...,
       [ 6, 25,  6, 21],
       [ 6, 25,  6, 22],
       [ 6, 25,  6, 23]])

In [34]:
seq_x, seq_y, seq_x_mark, seq_y_mark = ds[0]